.background {
        background-image: url('space2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        margin: 0%;
        padding: 0%;
}

.title {
    color: white;
    font-family: 'Rubik Iso', cursive;
    text-align: center;
    font-size: 600%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.image {
    position: absolute;
    left: 35%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#my-text {
    color:white;
    position: absolute;
    top: 100%;
    font-size: 300%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}

.my-text2 {
    color:white;
    position: absolute;
    top: 130%;
    font-size: 300%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* quick reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* relevant styles */
.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.img__description {
  position: absolute;
  top: 580%;
  left: 180% ;
  width: 250%;
  font-size: 300%;
  background-color:white;
  color: rgb(14, 19, 138);
  visibility: hidden;
  opacity: 0;
  font-family: 'Rajdhani', sans-serif;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

#kuiper {
    position: absolute;
    top: 500%;
    left: 150%;
}

#my-text3 {
    color:white;
    position: absolute;
    top: 260%;
    font-size: 300%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}

#discoveries {
    color:white;
    position: absolute;
    top: 300%;
    left: 25%;
    font-size: 400%;
    font-family: 'Rubik Iso', cursive;
}

.my-text4 {
    color:white;
    position: absolute;
    top: 330%;
    left: 5%;
    font-size: 300%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}

.img__wrap2 {
  position: relative;
  height: 200px;
  width: 257px;
}

.img__description2 {
  position: absolute;
  top: 1170%;
  left: 210% ;
  width: 180%;
  font-size: 300%;
  background-color:white;
  color: rgb(14, 19, 138);
  visibility: hidden;
  opacity: 0;
  font-family: 'Rajdhani', sans-serif;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap2:hover .img__description2 {
  visibility: visible;
  opacity: 1;
}

#pluto {
    position: absolute;
    top: 1100%;
    left: 200%;
}

#discovery2 {
    color:white;
    position: absolute;
    top: 450%;
    font-size: 300%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}

#todaytitle {
    color:white;
    position: absolute;
    top: 480%;
    left: 30%;
    font-size: 400%;
    font-family: 'Rubik Iso', cursive;
}

#today {
    color:white;
    position: absolute;
    top: 500%;
    font-size: 250%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}

.newhorizon {
    position: absolute;
    top: 520%;
    width:100%;
}

#span1 {
    font-size: 50%;
}
